#main-navbar ul li {
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: inline-block
  float: left;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar{
    background-color: blue;
    position: relative;
}
#mainnavbar-container {
    width: 100%;
    position: relative;
    text-align: center;
}
#sidebar-container ul li a {
  padding: 0;
  list-style-type: none;
  display: block;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#sidebar {
  background-color: red;
  position: fixed;
  right: 0;
  width: 20%;
  height: 100%;
}


